{% extends "web/index.html" %}
{% block content %}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="{% url 'contact' %}"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Demo Resource</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th style="width: 20px;">No.</th>
              <th>Title</th>
              <th>Writer</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            {% for community in community_list %}
              <tr>
                  <td>{{ community.id }}</td>
                  <td><a href="{% url 'community_detail' pk=community.id%}">{{ community.titleen }}</a></td>
                  <td>{{ community.writer }}</td>
                  <td>{{ community.date }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>


        <div class="text-center">
            {% if is_paginated %}
              <ul class="pagination">
                {% if community_list.has_previous %}
                  <li><a href="?page={{ news_list.previous_page_number }}">&laquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in paginator.page_range %}
                  {% if community_list.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if community_list.has_next %}
                  <li><a href="?page={{ community_list.next_page_number }}">&raquo;</a></li>
                {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
              </ul>
            {% endif %}
        </div>
        <a href="{% url 'community_new' %}">Create Post</a>
    </div>
</section>
{% endblock content %}
{% block script %}
{% endblock script %}
