{% extends "web/index.html" %}
{% block content %}
   <section id="inner-headline">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <ul class="breadcrumb">
                  <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                  <li class="active">Notice</li>
               </ul>
            </div>
         </div>
      </div>
   </section>
   <section id="content">
      <div class="container">
         <div class="row">
            <div class="col-lg-8">
            <h2> 3세부 </h2>   
               <h3><a href="#">부드러운 시계열 함수를 설명하는 베이지안 추론 SW</a></h3>
               <h3><a href="https://github.com/kirarenctaon/timenet.git">시계열 변화 예측 심층 학습 모델</a></h3>
               <h3><a href="https://github.com/MLnovice/XAI.git">주요국 중앙은행 정책금리 및 환율 추출 SW</a></h3>
               <h3><a href="#">거시 경제 지표 및 전문가 여론 자료 추출 SW</a></h3>
            </div>
         </div>
      </div>
   </section>
{% endblock content %}