{% extends "web/index.html" %}
{% block content %}
 <section id="inner-headline">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="breadcrumb">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-home"></i>
                                        </a>
                                        <i class="icon-angle-right"></i>
                                    </li>
                                    <li class="active">Auto News</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
  <section id="content">
    <div class="container"> 
       <div class="maketitle">
    <h2 class="titleHead" style="text-align:center;">[특징주]현대모비스, 전일 대비 약 1.6% 하락한 24만 5500원
    </h2>
    <br/>
    <div class="date" style="text-align:right;">기사입력 2018-01-30 14:57</div>
</div>

<!--l. 59-->
<p class="indent">현대모비스가 4분기 저조한 실적 발표에 하락세를 보이고 있다.
</p>
<p class="indent">30일 오후 6시 57분 현재 현대모비스는 전 거래일보다 1.60%(4000원) 떨어진 24만 5500원에 거래되고 있다.
</p>
<p class="indent">이날 현대모비스는 4분기 연결 기준 영업이익이 6367억원으로 전년동기대비 6.3% 줄었다고 공시했다.
</p>
<p class="indent">같은 기간 매출액은 9조 5893억원으로 전년 동기 대비 6.8%, 당기순이익은 6646억원으로 4.7% 각각 감소했다.</p>
<p class="indent">아래 그림은 주가 데이터와 변화 예측 자료입니다.</p>
<p class="indent">향후 1개월간 주식이 66.79%의 확률로 상승할 것으로 예상되며, 25만 2300(+2.77%)원이상 상승할 확률이 50%로 예측됩니다.</p>
<hr class="figure"/>
<div class="figure">
    <a id="x1-1001r1"></a>
    <div class="tabular">
        <table cellpadding="0" cellspacing="0" class="tabular" id="TBL-2">
            <colgroup id="TBL-2-1g">
                <col id="TBL-2-1"></col>
                <col id="TBL-2-2"></col>
            </colgroup>
            <tr id="TBL-2-1-" style="vertical-align:baseline;">
                <td class="td11" id="TBL-2-1-1" style="white-space:nowrap; text-align:center;"><img alt="pict" src="/static/img/autonews/hyundaimobis_raw_data.png"/>
                </td>
                <td class="td11" id="TBL-2-1-2" style="white-space:nowrap; text-align:center;"><img alt="pict" src="/static/img/autonews/hyundaimobis_all.png"/>
                </td>
            </tr>
        </table>
    </div>
    <br/>
    <div class="caption">
        <span class="id">그림 1</span><span class="content">주가 데이터(왼쪽)과 사후 분포 및 전망 예측(오른쪽)</span></div>
    <!--tex4ht:label?: x1-1001r1 -->
</div><hr class="endfigure"/>
<p class="indent">이 기사는 "UNIST 설명가능인공지능 시스템"이 생성하였습니다.</p>
<p class="indent">* 본 예측은 베타버전이며 투자자들의 투자판단에 참고가 되는 정보제공을 목적으로 배포되는 자료입니다.본 기사에
    수록된 내용은 추정치로서 오차가 발생할 수 있으며 정확성이나 완벽성은 보장하지 않습니다.</p>

         <br />
        <a href="/static/pdf/hyundaimobis.pdf" class="btn btn-primary btn-large btn-rounded"> PDF 보고서 다운 </a>
    </div>
  </section>
{% endblock content %}