{% extends "web/index.html" %}
{% block content %}
<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Lab</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container">
        <!--UNIST-->
        <div class="raw">
            <div class="col-lg-6">
                <div class="wrap2">
                     <iframe class="frame2" src="http://sail.unist.ac.kr"></iframe>
                </div>
                <div class="cta-text">
                     <h1>SAIL LAB</h1>
                </div>
                <dl>
                    <dt>Professor</dt>
                    <dd>Jaesik Choi</dd>
                    <dt>Research on</dt>
                    <dd>learning and inference with probabilistic graphical models,</dd>
                    <dd>big data analysis,</dd>
                    <dd>combining robot motion planning with AI planning, </dd>
                    <dd>spatio-temporal data analysis </dd>
                    <dt>Website</dt>
                    <dd><a href="http://sail.unist.ac.kr">http://sail.unist.ac.kr</a></dd>
                </dl>
            </div>
             <div class="col-lg-6">
                <div class="wrap2">
                     <iframe class="frame2" src="http://ml.unist.ac.kr"></iframe>
                </div>
                <div class="cta-text">
                     <h1>MLVR LAB</h1>
                </div>
                <dl>
                    <dt>Professor</dt>
                    <dd>Sung Ju Hwang</dd>
                    <dt>Research on</dt>
                    <dd>Machine Learning,</dd>
                    <dd>Deep learning,</dd>
                    <dd>Visual Recognition, </dd>
                    <dd>Natural Language Processing. </dd>
                    <dt>Website</dt>
                    <dd><a href="http://ml.unist.ac.kr">http://ml.unist.ac.kr</a></dd>
                </dl>
            </div>
        </div>
        <!-- divider -->
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->
        <!--KOREA-->
        <div class="raw">
            <div class="col-lg-6">
                <div class="wrap2">
                     <iframe class="frame2" src="http://pr.korea.ac.kr"></iframe>
                </div>
                <div class="cta-text">
                     <h1>Pattern Recognition Lab</h1>
                </div>
                <dl>
                    <dt>Professor</dt>
                    <dd>Seong-Whan Lee</dd>
                    <dt>Research on</dt>
                    <dd>Deep Machine Learning</dd>
                    <dd>Brain-Computer Interface,</dd>
                    <dd>Brain-Cognitive Computing, </dd>
                    <dd>Image Analysis & Understanding</dd>
                    <dd>Video Surveillance</dd>
                    <dt>Website</dt>
                    <dd><a href="http://pr.korea.ac.kr">http://pr.korea.ac.kr</a></dd>
                </dl>
            </div>
             <div class="col-lg-6">
                <div class="wrap2">
                     <iframe class="frame2" src="https://www.ku-milab.org/"></iframe>
                </div>
                <div class="cta-text">
                     <h1>Machine Intelligence Lab</h1>
                </div>
                <dl>
                    <dt>Professor</dt>
                    <dd>Heung-Il Suk</dd>
                    <dt>Research on</dt>
                    <dd>pattern recognition and machine learning algorithms inspired from the neural information processing mechanism in a human brain,,</dd>
                    <dd>brain disease diagnosis or prognosis by analyzing complex patterns inherent in neuroimaging or genetic data,</dd>
                    <dd>Visual Recognition, </dd>
                    <dd>non-invasive brain-computer interfaces to enhance human performance. </dd>
                    <dt>Website</dt>
                    <dd><a href="https://www.ku-milab.org/">https://www.ku-milab.org/</a></dd>
                </dl>
            </div>
        </div>
        <!-- divider -->
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->
        <div class="raw">
             <div class="col-lg-6">
                <div class="wrap2">
                     <iframe class="frame2" src="http://mli.kaist.ac.kr"></iframe>
                </div>
                <div class="cta-text">
                     <h1>MLILAB</h1>
                </div>
                <dl>
                    <dt>Professor</dt>
                    <dd>Eunho Yang</dd>
                    <dt>Research on</dt>
                    <dd>Statistical Machine Learning,</dd>
                    <dd>Probabilistic Graphical Model,</dd>
                    <dd>Deep Learning,</dd>
                    <dd>Reinforcement Learning,</dd>
                    <dd>Machine Learning for Healthcare</dd>
                    <dt>Website</dt>
                    <dd><a href="http://mli.kaist.ac.kr">http://mli.kaist.ac.kr</a></dd>
                </dl>
            </div>
             <div class="col-lg-6">
                <div class="wrap2">
                     <iframe class="frame2" src="https://www.aitrics.com"></iframe>
                </div>
                <div class="cta-text">
                     <h1>AItrics</h1>
                </div>
                <dl>
                    <dt>CEO</dt>
                    <dd>Jinkyu Yoo</dd>
                    <dt>Research on</dt>
                    <dd>Clinical Risk Analysis</dd>
                    <dd>ICU Care</dd>
                    <dd>Medical Diagnosis</dd>
                    <dt>Website</dt>
                    <dd><a href="https://www.aitrics.com">https://www.aitrics.com</a></dd>
                </dl>
            </div>
        </div>

    </div>
</section>
{% endblock content %}