{% extends "web/index.html" %}
{% block content %}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
					<li class="active">News</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section id="content">
	<div class="container">
		<div class="row">
			<article>
				<div class="post-slider">
					<div class="post-heading">
						<h3><a href="#">Explainable Artificial Intelligence Center (August 2017)</a></h3>
					</div>
					<!-- start flexslider -->
					<div id="post-slider" class="flexslider">
						<ul class="slides">
							<li>
								<img src="/static/img/gallery/170925_4.jpg" alt="" />
							</li>
							<li>
								<img src="/static/img/gallery/170925_5.jpg" alt="" />
							</li>
							<li>
								<img src="/static/img/gallery/170925_6.jpg" alt="" />
							</li>
						</ul>
					</div>
						<!-- end flexslider -->
					</div>
				<p>SAIL@UNIST hosted one of the next generation Artificial Intelligence Center. The center will investigate models, algorithms and systems for explainable artificial intelligence.</p>
				<p>This project is joint effort with KAIST, Korea university, Yonsei Severance Hospitial and AItrics.</p>
				<p>Yonhap News: <a href="http://www.yonhapnews.co.kr/bulletin/2017/08/02/0200000000AKR20170802068200057.HTML" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','http://www.yonhapnews.co.kr']);">http://www.yonhapnews.co.kr/bulletin/2017/08/02/0200000000AKR20170802068200057.HTML</a></p>
				<p>UNIST News Center: <br />
				Korean: <a href="http://news.unist.ac.kr/kor/20170803-01/" >http://news.unist.ac.kr/kor/20170803-01/</a><br />
				English: <a href="http://news.unist.ac.kr/unist-embarks-on-developing-next-generation-artificial-intelligence/" >http://news.unist.ac.kr/unist-embarks-on-developing-next-generation-artificial-intelligence/</a></p>
				<p>Thanks for our oversea collaborators, the Ministry of Science and Technology, the Institute for Information &#038; Communications Technology Promotion (IITP) and grant reviewers for selecting and supporting our team!</p>
				<div class="bottom-article">
					<ul class="meta-post">
						<li><i class="icon-calendar"></i><a href="#"> Sep 25, 2017</a></li>
						<li><i class="icon-user"></i><a href="#"> Admin</a></li>
						<li><i class="icon-folder-open"></i><a href="#"> News</a></li>
					</ul>
					<a href="#" class="pull-right">Continue reading <i class="icon-angle-right"></i></a>
				</div>
			</article>
			<br>
			<article>
				<div class="post-slider">
					<div class="post-heading">
						<h3><a href="#">2017 Rotman-UNIST Trading Competition (August 2017)</a></h3>
					</div>
					<img src="/static/img/works/trading_competition.jpg" alt="" />
				<p>On August 10, UNIST hosted the first Rotman-UNIST Trading Competition (RUTC), bringing together teams of primarily graduate-level students and their faculty advisors from top-ranked universities across South Korea to partake in a unique two-day simulated market challenge.</p>
				<p>This project is doing as a workshop for XAICnd AItrics.</p>
				<p>UNIST News Center: <br />
				Korean: <a href="http://news.unist.ac.kr/kor/20170814-01//" >http://news.unist.ac.kr/kor/20170803-01/</a><br />
				English: <a href="http://news.unist.ac.kr/successful-completion-of-2017-rotman-unist-trading-competition/" >http://news.unist.ac.kr/
				<div class="bottom-article">
					<ul class="meta-post">
						<li><i class="icon-calendar"></i><a href="#"> Sep 25, 2017</a></li>
						<li><i class="icon-user"></i><a href="#"> Admin</a></li>
						<li><i class="icon-folder-open"></i><a href="#"> News</a></li>
					</ul>
					<a href="#" class="pull-right">Continue reading <i class="icon-angle-right"></i></a>
				</div>
			</article>
		</div>
	</div>
</section>	
{% endblock content %}
