{% extends "web/index.html" %}
{% block content %}
   <section id="inner-headline">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <ul class="breadcrumb">
                  <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                  <li class="active">Notice</li>
               </ul>
            </div>
         </div>
      </div>
   </section>
   <section id="content">
      <div class="container">
         <div class="row">
            <div class="col-lg-8">
               <article>
                  <div class="post-image">
                     <div class="post-heading">
                        <h3><a href="#">Preparing to XAIC Webpage</a></h3>
                     </div>
                  </div>
                  <p>
                  	 The web site is in the make. Sometimes server is unstable. I hope you would be so kind to understand. 
                  </p>
               </article>
            </div>
         </div>
      </div>
   </section>
{% endblock content %}