{% extends "web/index.html" %}
{% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="breadcrumb">
          <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
          <li class="active">Related Project</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="content">
  <div class="container">
    <div class="row">
        <div class="post-heading">
          <h3>Human-level concept learning through probabilistic program introduction</h3>
          <img src="/static/img/related/human-level.png" alt="" />
        </div>  
        <br/>
        <div class="dl-horizontal" style="font-size: 15pt">   
          <dt> Institutions : </dt><dd>New York University, U of Toronto, MIT</dd>
          <dt>Authors : </dt><dd>B. H. Lake, R. Salakhutdinov, and J. B. Tenenbaum</dd>
          <dt>Publication :</dt><dd><a href="https://cims.nyu.edu/~brenden/LakeEtAl2015Science.pdf">Human-level concept learning through probabilistic program introduction, Science, 2015 </a></dd>
          <dt>Source code : </dt><dd><a href="https://github.com/brendenlake/BPL">https://github.com/brendenlake/BPL</a></dd>
        </div>
      <br/><br/>
        <div class="post-heading">
          <h3>Learning AND-OR Templates for Object Recognition and Detection</h3>
          <img src="/static/img/related/and-or.png" alt="" />
        </div>  
        <br/>
        <div class="dl-horizontal" style="font-size: 15pt">   
          <dt>Institutions : </dt><dd>UC Los Angeles</dd>
          <dt>Authors : </dt><dd>Z. Si and S. Zhu</dd>
          <dt>Publication :</dt><dd><a href="http://www.cnbc.cmu.edu/~tai/microns_papers/zhu_AOTpami.pdf">Learning AND-OR Templates for Object Recognition and Detection, TPAMI, 2013</a></dd>
          <dt>Source code : </dt><dd><a href="http://www.stat.ucla.edu/~zzsi/AOT.html">http://www.stat.ucla.edu/~zzsi/AOT.html</a></dd>
        </div>  
      <br/><br/>
        <div class="post-heading">
          <h3>Examples are not Enough, Learn to Criticize! Criticism for Interpretability</h3>
          <img src="/static/img/related/example.png" alt="" />
        </div>  
        <br/>
        <div class="dl-horizontal" style="font-size: 15pt">   
          <dt>Institutions : </dt><dd> Allen Institute, UT Austin, UIUC</dd>
          <dt>Authors : </dt><dd>B. Kim, R. Khanna, S. Koyejo</dd>
          <dt>Publication :</dt><dd><a href="http://people.csail.mit.edu/beenkim/papers/KIM2016NIPS_MMD.pdf"> Examples are not Enough, Learn to Criticize! Criticism for Interpretability, NIPS, 2016</a></dd>
          <dt>Source code : </dt><dd><a href="https://github.com/BeenKim/MMD-critic">https://github.com/BeenKim/MMD-critic</a></dd>
        </div> 
        <br/><br/>
        <div id="pagination">
          <span class="all">Page 2 of 3</span>
          <a href="./1" class="inactive">1</a>
          <span class="current">2</span>
          <a href="./3" class="inactive">3</a>
        </div>
    </div>
  </div>
</section>  
{% endblock content %}
