{% extends "web/index.html" %}
{% block content %} 
 <section id="inner-headline">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="breadcrumb">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-home"></i>
                                        </a>
                                        <i class="icon-angle-right"></i>
                                    </li>
                                    <li class="active">Auto News</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
  <section id="content">
    <div class="container"> 
        <div class="maketitle">
            <h2 class="titleHead" style="text-align:center;">[특징주]삼성에스디에스, 전일 대비 약 1.93% 하락한 25만 4000원
            </h2>
            <div class="author" style="text-align:center;">설명가능인공지능</div><br/>
            <div class="date" style="text-align:center;">기사입력 2018-01-30 18:57
            </div>
        </div>

        <!--l. 59-->
        <p class="indent">삼성에스디에스가 4분기 실적 호조에도 불구하고 하락세를 보이고 있다.
        </p>
        <p class="indent">30일 오후 6시 57분 현재 삼성에스디에스는 전 거래일보다 1.93%(5000원) 떨어진 25만 4000원에 거래되고 있다.
        </p>
        <p class="indent">이날 삼성에스디에스는 4분기 연결 기준 영업이익이 2124억원으로 전년동기대비 29.8% 늘었다고 공시했다.
        </p>
        <p class="indent">같은 기간 매출액은 2조 5812억원으로 전년 동기 대비 8.4%, 당기순이익은 1590억원으로 20.5% 각각 증가했다.</p>
        <p class="indent">그림 1은 주가 데이터와 전체 모델의 사후 분포 및 그에 따른 전망 예측 자료입니다.</p>
        <p class="indent">향후 1주간 주식이 현재보다 상승할 확률은 50.00%로 예상되며, -1.80% 증가한 262183.74(평균
            예측치)원보다 상승할 확률이 50%으로 예측됩니다.</p>
        <hr class="figure"/>
        <div class="figure">
            <a id="x1-1001r1"></a>
            <div class="tabular">
                <table cellpadding="0" cellspacing="0" class="tabular" id="TBL-2">
                    <colgroup id="TBL-2-1g">
                        <col id="TBL-2-1"></col>
                        <col id="TBL-2-2"></col>
                    </colgroup>
                    <tr id="TBL-2-1-" style="vertical-align:baseline;">
                        <td class="td11" id="TBL-2-1-1" style="white-space:nowrap; text-align:center;"><img alt="pict" src="/static/img/autonews/samsungsds_raw_data.png"/>
                        </td>
                        <td class="td11" id="TBL-2-1-2" style="white-space:nowrap; text-align:center;"><img alt="pict" src="/static/img/autonews/samsungsds_all.png""/>
                        </td>
                    </tr>
                </table>
            </div>
            <br/>
            <div class="caption">
                <span class="id">그림 1</span><span class="content">주가 데이터(왼쪽)과 사후 분포 및 전망 예측(오른쪽)</span></div>
            <!--tex4ht:label?: x1-1001r1 -->
        </div><hr class="endfigure"/>
        <p class="indent">이 기사는 "UNIST 설명가능인공지능 시스템"이 생성하였습니다.</p>
        <p class="indent">* 본 예측은 베타버전이며 투자자들의 투자판단에 참고가 되는 정보제공을 목적으로 배포되는 자료입니다.</p>
        <p class="indent">본 기사에 수록된 내용은 추정치로서 오차가 발생할 수 있으며 정확성이나 완벽성은 보장하지 않습니다.</p>
         <br />
        <a href="/static/pdf/samsungsds.pdf" class="btn btn-primary btn-large btn-rounded"> PDF 보고서 다운 </a>
    </div>
  </section>
{% endblock content %}  
